# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Datasets
datasets/
dataset/
data/

# Training outputs
runs/
results/
output/video_testing/



# Model weights
*.pt
*.pth
*.onnx

# IDE
.vscode/
.idea/

# Environment / secrets
.env
.history

# OS
.DS_Store

